@model IEnumerable<IBAWebApplication.Models.IBA_Trainee>

@{
    ViewData["Title"] = "Index";
}

<h1>DashBoard</h1>

<p>
    
</p>
<table class="table table-hover" style="margin-top:40px;">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Role
            </th>
            <th>
                Assigned Products
            </th>
            <th>
                Training Program
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedProducts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingProgram)
            </td>
            <td>
                <a style="color: black;" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a style="color: black;" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a style="color: black;" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
